[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==21.12b0"
boto3-stubs = {extras = ["s3"], version = "~=1.20"}
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
shellcheck-py = "*"
yamllint = "*"

[packages]
boto3 = "~=1.20"

[requires]
python_version = "3.10"

[scripts]
lint = "./scripts/lint.sh"
test = "pytest -vv"
